* {
  box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: sans-serif; }

body {
  background-color: #e8e8e8; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #e8e8e8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 100vh; }

.form {
  width: 90%;
  margin: 0 auto; }
